body {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #111;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Raleway', sans-serif !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.link-newco {
  color: #C2AC78;
  margin: 0.1em;
  padding: 0.1em;
  text-decoration: underline;
}
.link-newco:focus,
.link-newco:hover {
  color: #76602C;
}
.text-newco {
  color: #C2AC78 !important;
}
/* default section toggling background color */
.section .container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section {
  background-color: rgb(251, 251, 251);
}
.section:first-child {
  background-color: #334A75;
}
header.section[data-anchor=home] {
  background:
    linear-gradient(rgba(51, 74, 117, 1), rgba(17, 17, 17, 0.6)),
    url('../img/header-banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #eee !important;
}
.section[data-anchor=tickets] {
  background:
    linear-gradient(rgba(251, 251, 251, 0.8), rgba(251, 251, 251, 0.8)),
    url('../img/section-participate-banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*.section[data-anchor=ca] {
  background:
    linear-gradient(rgba(251, 251, 251, 0.9), rgba(251, 251, 251, 0.9)),
    url('../img/chinaccelerator-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}*/
.section[data-anchor=sponsors] {
  background:
    linear-gradient(rgba(251, 251, 251, 0.7), rgba(251, 251, 251, 0.7)),
    url('../img/section-sponsors-banner.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer.section[data-anchor=about] {
  background-color: rgb(17, 17, 17);
  color: #eee !important;
}
.modal-newco .modal-content {
  background-color: rgb(251, 251, 251);
}
.list-group-item.item-newco {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-newco {
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  background-color: rgb(51, 74, 117);
  border-width: 0;
}
.navbar-newco.inverse {
  background-color: rgb(17, 17, 17);
}
.navbar-newco .navbar-nav>li>a {
  font-weight: 400;
  font-size: 90%;
  color: #eee;
}
.navbar-newco .navbar-nav>li>a:focus,
.navbar-newco .navbar-nav>li>a:hover,
.navbar-newco .navbar-nav>.active>a,
.navbar-newco .navbar-nav>.active>a:focus,
.navbar-newco .navbar-nav>.active>a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  transition: height 0.3s;
  -moz-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  height: 200%;
}
.navbar-brand.tiny img {
  height: 100%;
}
.navbar-brand>.brand-date {
  color: #eee;
}
.navbar-newco .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  color: #111;
  background-color: #334A75;
  border-width: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.navbar-newco.inverse .dropdown:hover .dropdown-menu {
  background-color: rgb(17, 17, 17);
}
.dropdown:hover .dropdown-menu a {
  color: #eee;
}
.dropdown:hover .dropdown-menu a:focus,
.dropdown:hover .dropdown-menu a:hover {
  background-color: rgba(251, 251, 251, 0.1);
}
.btn-newco {
  border-width: 0;
  border-radius: 0;
  background-color: #1A1918;
  color: #C2AC78;
}
.btn-newco:hover,
.btn-newco:focus {
  background-color: #C2AC78;
  color: #1A1918;
}
.well-newco {
  background-color: rgba(245, 245, 245, 0.7);
  border-width: 0;
}
/* responsiveness */
@media (max-width: 480px) {
  .img-sponsor {
    height: 24px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .img-sponsor {
    height: 28px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .img-sponsor {
    height: 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .img-sponsor {
    height: 38px;
  }
}
@media (min-width: 1200px) {
  .img-sponsor {
    height: 42px;
  }
}
