body {
  font-family: 'Raleway', sans-serif !important;
  color: rgb(96, 96, 96);
  font-size: 16px;
}
.section-title {
  color: rgb(51, 74, 117);
  border-bottom: 2px solid rgba(51, 74, 117, 0.3);
  margin-top: 2em;
  margin-bottom: 1em;
}
.fixed-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1em;
}
.img-host {
  padding: 0.5em 1em;
  height: 64px;
}
.btn, .panel {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.link-newco {
  color: #76602C;
  margin: 0.1em;
  padding: 0.1em;
  text-decoration: underline;
}
.link-newco:focus,
.link-newco:hover {
  color: #291300;
}
.text-newco {
  color: #76602C !important;
}
/* default section toggling background color */
.section .container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section {
  background-color: rgb(251, 251, 255);
}
.section:first-child {
  background-color: #334A75;
}
header.section[data-anchor=home] {
  background:
    linear-gradient(rgba(51, 74, 117, 1), rgba(17, 17, 17, 0.6)),
    url('../img/header-banner_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(251, 251, 255) !important;
}
.section[data-anchor=intro],
.section[data-anchor=tickets],
.section[data-anchor=agenda],
.section[data-anchor=about] {
  min-height: 100vh;
}
.section:nth-child(even) {
  background:
    linear-gradient(rgba(251, 251, 255, 0.9), rgba(251, 251, 255, 0.9)),
    url('../img/shanghai2_80.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer {
  background-color: rgb(17, 17, 17) !important;
  background-image: none !important;
  color: rgb(251, 251, 255) !important;
}
footer .link-newco {
  color: #C2AC78;
}
footer .link-newco:focus,
footer .link-newco:hover {
  color: rgb(251, 251, 255);
}
.modal-newco {
  text-align: center;
}
.modal-newco .modal-content {
  background-color: rgba(245, 245, 245, 0.9);
}
.modal-newco .modal-dialog {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 auto;
}
.list-group-item.item-newco {
  background-color: rgba(251, 251, 255, 0.7);
  border-color: rgba(251, 251, 255, 1);
}
.navbar-newco {
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  background-color: rgb(51, 74, 117);
  border-width: 0;
}
.navbar-newco.inverse {
  background-color: rgb(17, 17, 17);
}
.navbar-newco .navbar-toggle {
  color: rgb(251, 251, 255);
}
.navbar-newco .navbar-nav>li>a {
  font-weight: 400;
  font-size: 90%;
  color: rgb(251, 251, 255);
}
.navbar-newco .navbar-nav>li>a:focus,
.navbar-newco .navbar-nav>li>a:hover,
.navbar-newco .navbar-nav>.active>a,
.navbar-newco .navbar-nav>.active>a:focus,
.navbar-newco .navbar-nav>.active>a:hover {
  background-color: rgb(251, 251, 255);
  color: rgb(17, 17, 17);
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  transition: height 0.2s;
  -moz-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  height: 200%;
}
.navbar-brand.tiny img {
  height: 100%;
}
.navbar-brand>.brand-date {
  color: rgb(251, 251, 255);
}
.navbar-newco .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  color: rgb(17, 17, 17);
  background-color: #334A75;
  border-width: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.navbar-newco.inverse .dropdown:hover .dropdown-menu {
  background-color: rgb(17, 17, 17);
}
.dropdown:hover .dropdown-menu a {
  color: rgb(251, 251, 255);
}
.dropdown:hover .dropdown-menu a:focus,
.dropdown:hover .dropdown-menu a:hover {
  background-color: rgba(251, 251, 255, 0.1);
}
.btn-newco {
  border-width: 0;
  border-radius: 0;
  background-color: #1A1918;
  color: #C2AC78;
}
.btn-newco:hover,
.btn-newco:focus {
  background-color: #C2AC78;
  color: #1A1918;
}
.well-newco {
  background-color: rgba(245, 245, 245, 0.7);
  border-width: 0;
}
.label-light {
  color: rgb(96, 96, 96);
}
.label-newco:nth-child(odd) {
  background-color: rgb(51, 74, 117);
}
.label-newco:nth-child(even) {
  background-color: rgb(194, 172, 120);
}
.img-sponsor.silver {
  height: 54px;
}
/* responsiveness */
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
@media (max-width: 480px) {
  .navbar-brand img {
     height: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-brand img {
     height: 100%;
  }
}
