<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="img/favicon/newco-favicon-transparent-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="img/favicon/newco-favicon-transparent-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="img/favicon/newco-favicon-transparent-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="img/favicon/newco-favicon-transparent-62.png" sizes="62x62" type="image/png">
  <link rel="icon" href="img/favicon/newco-favicon-transparent-192.png" sizes="192x192" type="image/png">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">

  <title>NewCo - Shanghai</title>

  <!-- styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery.fullPage.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!-- page style -->
  <link href="css/newco.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45933216-13', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="modal modal-newco fade" id="rock-lobster" tabindex="-1" role="dialog" aria-labelledby="rock-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Rock Lobsta!!!</h4>
        </div>
        <div class="modal-body">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/rock-lobster.gif" class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>
  <!-- wechat qr modal -->
  <div class="modal modal-newco fade" id="wechat-modal" tabindex="-1" role="dialog" aria-labelledby="wechat-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <i class="fa fa-wechat"></i>
          </h4>
        </div>
        <div class="modal-body">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/ca-wechat-qr.jpg" class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>
  <!-- host companies modal -->
  <div class="modal modal-newco fade" id="host-modal" tabindex="-1" role="dialog" aria-labelledby="host-label">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="host-label">
            <span v-text="host.name"></span>
            <small>
              <a href="#" class="link-newco" v-on:click="toggleLang">
                <i class="fa fa-lg fa-language" aria-hidden="true"></i>
                <span v-if="en">汉</span>
                <span v-else>EN</span>
              </a>
            </small>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img v-bind:src="host.logo" class="img-responsive center-block" style="max-height:120px;">
              <h4>
                <span v-if="en">INDUSTRY:</span>
                <span v-else>行业：</span>
                <span v-text="host.industry" class="text-newco"></span>
              </h4>
            </div>
            <div class="col-md-8 col-sm-12">
              <div v-if="en" v-html="host.intro.en"></div>
              <div v-else v-html="host.intro.zh"></div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div v-if="en" v-html="host.p_intro.en"></div>
              <div v-else v-html="host.p_intro.zh"></div>
            </div>
            <div class="col-md-4 col-sm-12">
              <img v-bind:src="host.avatar" class="img-responsive center-block" style="max-height:300px;">
              <h4>
                <span v-if="en">PRESENTER:</span>
                <span v-else>演讲人：</span>
                <span v-text="host.presenter" class="text-newco"></span>
              </h4>
              <h4>
                <span v-if="en">POSITION:</span>
                <span v-else>职务：</span>
                <span v-text="host.position" class="text-newco"></span>
              </h4>
              <h4>
                <span v-if="en">LANGUAGE:</span>
                <span v-else>语言：</span>
                <span v-text="host.lang" class="text-newco"></span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <nav id="top-nav" class="navbar navbar-inverse navbar-newco navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
          <span class="sr-only">
            <span v-if="en">Toggle navigation</span>
            <span v-else>切换导航</span>
          </span>
          <span v-if="en">Menu</span>
          <span v-else>菜单</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#home">
          <img alt="NewCo - Shanghai" src="img/newco-logo-shanghai.svg">
          <div class="text-right brand-date">
            <small class="text-right" v-if="en">September 13, 2016</small>
            <small class="text-right" v-else>2016年9月13日</small>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="top-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li data-menuanchor="home" class="hidden" id="navbar-home">
            <a href="#home">
              <span v-if="en">HOME</span>
              <span v-else>首页</span>
            </a>
          </li>
          <li data-menuanchor="intro">
            <a href="#intro">
              <span v-if="en">INTRO</span>
              <span v-else>节日介绍</span>
            </a>
          </li>
          <li data-menuanchor="tickets">
            <a href="#tickets">
              <span v-if="en">TICKETS</span>
              <span v-else>报名购票</span>
            </a>
          </li>
          <li data-menuanchor="about">
            <!-- <a href="#about/summary"> -->
            <a href="#about">
              <span v-if="en">FEATURED EVENTS</span>
              <span v-else>特色活动</span>
            </a>
          </li>
          <!-- <li class="navbar-about-sub hidden">
            <a href="#about/companies">
              <span v-if="en">companies</span>
              <span v-else>公司</span>
            </a>
          </li>
          <li class="navbar-about-sub hidden">
            <a href="#about/presenters">
              <span v-if="en">presenters</span>
              <span v-else>演讲人</span>
            </a>
          </li> -->
          <li data-menuanchor="agenda">
            <a href="#agenda">
              <span v-if="en">AGENDA</span>
              <span v-else>日程</span>
            </a>
          </li>
          <li data-menuanchor="partners">
            <a href="#partners">
              <span v-if="en">PARTNERS</span>
              <span v-else>合作伙伴</span>
            </a>
          </li>
          <li>
            <a href="http://chinaccelerator.com/news/newco" target="_blank">
              <span v-if="en">BLOG</span>
              <span v-else>博客</span>
              <i class="fa fa-external-link"></i>
            </a>
          </li>
          <li>
            <a href="#" v-on:click="toggleLang">
              <span v-if="en">汉</span>
              <span v-else>EN</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#intro" class="dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#ca">
                  <span v-if="en">CHINACCELERATOR</span>
                  <span v-else>中国加速</span>
                </a>
              </li>
              <li><a href="#newco">NewCo Shift</a></li>
              <li><a href="#newco">NewCo Cities</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- sections -->
  <div id=full-page>
    <header class="section" data-anchor="home">
      <div class="container text-center">
        <div v-if="en">
          <h1>Opening Doors To Shanghai's</h1>
          <h1>Finest Companies</h1>
        </div>
        <div v-else>
          <h1>开启大门，思想交锋</h1>
          <h1>NewCo，一场上海杰出企业的创新派对</h1>
        </div>
        <a href="#intro" class="btn btn-default btn-newco btn-lg" style="margin-top:1em;">
          <span v-if="en">LEARN MORE</span>
          <span v-else>NewCo 简介</span>
        </a>
      </div>
      <div class="fixed-bottom-right">
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/chinaccelerator-logo-white.png" class="center-block" style="height:72px;">
        <h6 class="text-center" v-if="en">PRESENTS</h6>
        <h6 class="text-center" v-else>为您呈现</h6>
      </div>
    </header>
    <section class="section fp-auto-height" data-anchor="intro">
      <div class="container">
        <h3 class="section-title">
          <span v-if="en">INTRO</span>
          <span v-else>节日介绍</span>
        </h3>
        <ul class="list-inline text-center">
          <li>
            <div class="well well-newco">
              <h1 class="text-newco">20</h1>
              <p v-if="en">NewCo Event Hosts</p>
              <p v-else>家NewCo活动主办企业</p>
            </div>
          </li>
          <li>
            <div class="well well-newco">
              <h1 class="text-newco">8</h1>
              <p v-if="en">Tech Pioneer and VC Speakers</p>
              <p v-else>位科技大咖和VC演讲者</p>
            </div>
          </li>
          <li>
            <div class="well well-newco">
              <h1 class="text-newco">300+</h1>
              <p v-if="en">NewCo Attendees</p>
              <p v-else>个NewCo活动参加者</p>
            </div>
          </li>
        </ul>
        <div v-if="en">
          <p>
            On September 13th, NewCo comes to Asia for the first time, planting its feet in Shanghai. <a href="http://newco.co/" target="_blank">NewCo</a> is a new kind of event experience: a mashup of an open studio tour and a business conference, with the vibe of a music festival. There are now 17 cities globally who host the NewCo festival, and over 2500 companies around the world have opened their doors for the event.
          </p>
          <p>
            "Nothing like NewCo existed in China before, where you get to gather inside the offices of the world’s leading internet companies," says William Bao Bean, Managing Director of <a href="http://chinaccelerator.com" target="_blank">Chinaccelerator</a>. "We are very happy to launch Shanghai as the 17th city in the world hosting a NewCo festival."
          </p>
          <p>
            NewCo’s mission is to identify and celebrate new kinds of companies driving the transition to a sustainable, positive-impact business ecosystem. This is exactly the energy that Chinaccelerator is exuding. The fund behind Chinaccelerator, <a href="https://sosv.com/" target="_blank">SOSV</a>, is committed to accelerator founders’ big ideas for positive change, and build communities that provide lasting connections. We cordially invite you to celebrate innovation together on September 13th, 2016.
          </p>
        </div>
        <div v-else>
          <p>
            NewCo是一个<a href="http://newco.co/" target="_blank">国际性创新节日</a>，已在全球16座城市举办，累计参与企业超过2500家。它和一般的商务会议或科技大会不同，它更像一个音乐节，好玩、轻松，但有干货，有收获。节日当天，参与者将跟随NewCo拜访城市中的优秀企业，从拓展业务、寻求合作、招揽贤才、结识人脉到交流学习，参与者各取所需，享乐其中。
          </p>
          <p>
            这是NewCo第一次进军亚洲，<a href="http://chinaccelerator.com" target="_blank">中国加速</a>荣幸地担任其主办方，于9月13日在上海举行。
          </p>
          <p>
            往期NewCo参与者基本是30-40岁的优秀创业者、管理者及行业先驱。此次NewCo将邀请20家上海优秀企业，这些公司大多是A-D轮，现已确认参加的公司包括网红搜索引擎——Robin8，引爆朋友圈的修图APP——足记，全球最大的互联网服务器管理公司——云络科技，获得沪江投资的语言教学平台——italki，国内领先的团队协作工具——Teambition，等等。
          </p>
          <p>
            NewCo的愿景是寻找并支持那些对社会有积极影响力、注重持续发展的企业。中国加速和其背后的基金<a href="https://sosv.com/" target="_blank">SOSV</a>也秉承同样的信念：投资、加速那些创造正面价值的公司，帮助它们长期发展。在此，我们诚挚邀请您参加NewCo，广交好友，为创新精神开一场狂欢派对。
          </p>
        </div>
      </div>
    </section>
    <section class="section fp-auto-height" data-anchor="tickets">
      <div class="container text-center">
        <h3 class="section-title text-left">
          <span v-if="en">TICKETS</span>
          <span v-else>购票</span>
        </h3>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h5 class="panel-title text-newco">
                  <i class="fa fa-ticket"></i>
                  <span v-if="en">Gold Pass</span>
                  <span v-else>金卡</span>
                </h5>
              </div>
              <div class="panel-body">
                <h5>RMB ￥488</h5>
                <hr>
                <h5>
                  <span v-if="en">VIP Kickoff Dinner</span>
                  <span v-else>VIP 启动晚宴</span>
                </h5>
                <hr>
                <h5 v-if="en">
                  <strong class="text-newco">Unlimited</strong> NewCo Sessions
                </h5>
                <h5 v-else>
                  <strong class="text-newco">任意选择</strong>NewCo活动数量
                </h5>
                <hr>
                <h5 v-if="en">8x8 Speaking Event</h5>
                <h5 v-else>8x8企业家分享</h5>
                <hr>
                <h5>After Party</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <i class="fa fa-ticket"></i>
                  <span v-if="en">Silver Pass</span>
                  <span v-else>银卡</span>
                </h5>
              </div>
              <div class="panel-body">
                <h5>RMB ￥388</h5>
                <hr>
                <h5>
                  <span v-if="en">VIP Kickoff Dinner</span>
                  <span v-else>VIP 启动晚宴</span>
                </h5>
                <hr>
                <h5 v-if="en">5 NewCo Sessions</h5>
                <h5 v-else>5项NewCo活动</h5>
                <hr>
                <h5 v-if="en">8x8 Speaking Event</h5>
                <h5 v-else>8x8企业家分享</h5>
                <hr>
                <h5>After Party</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <i class="fa fa-ticket"></i>
                  <span v-if="en">NewCo Pass</span>
                  <span v-else>NewCo 票</span>
                </h5>
              </div>
              <div class="panel-body">
                <h5>RMB ￥188</h5>
                <hr>
                <h5 v-if="en">5 NewCo Sessions</h5>
                <h5 v-else>5项NewCo活动</h5>
                <hr>
                <h5 v-if="en">8x8 Speaking Event</h5>
                <h5 v-else>8x8企业家分享</h5>
                <hr>
                <h5>After Party</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <i class="fa fa-ticket"></i>
                  <span v-if="en">8x8 Pass</span>
                  <span v-else>8x8 票</span>
                </h5>
              </div>
              <div class="panel-body">
                <h5>RMB ￥0</h5>
                <hr>
                <h5 v-if="en">8x8 Speaking Event</h5>
                <h5 v-else>8x8企业家分享</h5>
                <hr>
                <h5>After Party</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-newco btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ticket"></i>
            <span v-if="en">PURCHASE</span>
            <span v-else>购票</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="https://yoopay.cn/event/NewCoShanghai" target="_blank" style="color:rgb(255, 80, 80);">
                <i class="fa fa-rmb"></i>
                <span v-if="en">Union Pay, WeChat Pay, Alipay</span>
                <span v-else>银联、微信支付、支付宝</span>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="https://www.eventbrite.com/e/newco-shanghai-tickets-26798078775" target="_blank" style="color:rgb(0, 153, 0);">
                <i class="fa fa-usd"></i>
                <span v-if="en">Master, Visa, Paypal</span>
                <span v-else>万事达、VISA、贝宝</span>
              </a>
            </li>
          </ul>
        </div>
        <h5>
          <span v-if="en">
            If you have any questions, please contact
          </span>
          <span v-else>
            如有疑问，请联系
          </span>
          <a href="mailto:cateam@chinaccelerator.com">cateam@chinaccelerator.com</a>
        </h5>
      </div>
    </section>
    <section class="section fp-auto-height" data-anchor="about">
      <div class="container">
        <h3 class="section-title">
          <span v-if="en">Host Companies</span>
          <span v-else>主题企业</span>
        </h3>
        <h5>
          <span v-if="en">GET INSIDE SHANGHAI'S MOST INTRIGUING COMPANIES TO LEARN, CONNECT, AND CELEBRATE.</span>
          <span v-else>NewCo带您走进上海最受瞩目的企业参观学习、拓展人脉，共度为创新灵魂庆祝的一天。</span>
        </h5>
        <ul class="list-inline text-center">
          <li class="item-event" v-for="h in hosts">
            <a href="#" v-on:click="triggerHost(h.k, $event)" style="text-decoration:none;">
              <span class="logo-host">
                <img v-bind:src="h.logo">
              </span>
              <p class="text-muted">
                <small v-text="h.name"></small>
              </p>
            </a>
          </li>
        </ul>
        <div class="well well-newco text-center">
          <h5>
            <span v-if="en">More host companies will be announced - stay tuned</span>
            <span v-else>参与企业名单将不断更新，敬请期待。</span>
          </h5>
        </div>
        <h3 class="section-title">
          <span v-if="en">8x8 - 8 Heroes for 8 Minutes</span>
          <span v-else>八分之约</span>
        </h3>
        <h5>
          <span v-if="en">THE CHINACCELERATOR 8X8 EVENT CONNECTS YOU WITH A WIDE SPECTRUM OF FOUNDERS AND THOUGHT LEADERS IN CHINA.</span>
          <span v-else>中国加速8X8活动将国内行业先锋和资深创业家带到您跟前，与您分享心得和互动交流。</span>
        </h5>
        <div class="well well-newco text-center">
          <h5>
            <span v-if="en">Coming soon - stay tuned.</span>
            <span v-else>敬请期待</span>
          </h5>
        </div>
      </div>
      <!-- <div class="slide" data-anchor="summary">
        <div class="container text-center">
          <h3 class="section-title text-left">
            <span v-if="en">Host Companies</span>
            <span v-else>主题企业</span>
          </h3>
          <h5>
            <span v-if="en">GET INSIDE SHANGHAI'S MOST INTRIGUING COMPANIES TO LEARN, CONNECT, AND CELEBRATE.</span>
            <span v-else>NewCo带您走进上海最受瞩目的企业参观学习、拓展人脉，共度为创新灵魂庆祝的一天。</span>
            <a href="#about/companies">
              <span v-if="en">SEE ALL HOST COMPANIES</span>
              <span v-else>查看所有参与企业</span>
            </a>
          </h5>
          <ul class="list-inline">
            <li v-for="(key, host) in hosts">
              <a href="#about/companies">
                <img v-bind:src="host.logo" class="img-event">
              </a>
            </li>
          </ul>
          <div class="well well-newco">
            <h5>
              <span v-if="en">More host companies will be announced - stay tuned</span>
              <span v-else>参与企业名单将不断更新，敬请期待。</span>
            </h5>
          </div>
          <h3 class="section-title text-left">
            <span v-if="en">8x8 - 8 Heroes for 8 Minutes</span>
            <span v-else>八分之约</span>
          </h3>
          <h5>
            <span v-if="en">THE CHINACCELERATOR 8X8 EVENT CONNECTS YOU WITH A WIDE SPECTRUM OF FOUNDERS AND THOUGHT LEADERS IN CHINA.</span>
            <span v-else>中国加速8X8活动将国内行业先锋和资深创业家带到您跟前，与您分享心得和互动交流。</span>
            <a href="#about/presenters">
              <span v-if="en">SEE ALL PRESENTERS</span>
              <span v-else>查看所有演讲者</span>
            </a>
          </h5>
          <div class="well well-newco">
            <h5>
              <span v-if="en">Coming soon - stay tuned.</span>
              <span v-else>敬请期待</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="companies">
        <div class="container text-center">
          <h3 class="section-title text-left">
            <span v-if="en">Host Companies</span>
            <span v-else>主题企业</span>
          </h3>
          <p>
            Connect to Shanghai's tech industry like never before. Festival participants pick the companies they want to explore and tour Shanghai, meeting founders and senior leadership inside their home office.
          </p>
          <a href="#about/summary">
            <i class="fa fa-2x fa-arrow-circle-left"></i>
          </a>
          <ul class="list-inline text-center">
            <li v-for="(key, host) in hosts">
              <a href="#" v-on:click="triggerHost(key, $event)">
                <img v-bind:src="host.logo" class="img-event">
              </a>
            </li>
          </ul>
          <div class="well well-newco">
            <h5>
              <span v-if="en">More host companies will be announced - stay tuned</span>
              <span v-else>参与企业名单将不断更新，敬请期待。</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="presenters">
        <div class="container text-center">
          <h3 class="section-title text-left">
            <span v-if="en">8x8 - 8 Heroes for 8 Minutes</span>
            <span v-else>八分之约</span>
          </h3>
          <p>
            Chinaccelerator's famous 8x8 speaking event is bringing you 8 tech pioneers and top VC's from the startup ecosystem in China. Each of them will take you on a 8-minute tour of their trials and tribulations. This is an amazing opportunity for you to have a peek at the first startup accelerator program in China, meet interesting people and listen to amazing speakers.
          </p>
          <a href="#about/summary">
            <i class="fa fa-2x fa-arrow-circle-left"></i>
          </a>
          <div class="well well-newco">
            <h5>
              <span v-if="en">Coming soon - stay tuned.</span>
              <span v-else>敬请期待</span>
            </h5>
          </div>
        </div>
      </div> -->
    </section>
    <section class="section fp-auto-height" data-anchor="agenda">
      <div class="container">
        <h3 class="section-title">
          <span v-if="en">AGENDA</span>
          <span v-else>日程</span>
        </h3>
        <div v-for="schedule in agenda">
          <h4>
            <i class="fa fa-calendar"></i>
            <span v-text="schedule.date"></span>
          </h4>
          <ul class="list-group">
            <li class="list-group-item" v-for="slot in schedule.slots">
              <div class="row">
                <div class="col-md-2 col-sm-12" style="font-family:monospace;">
                  <h4>
                    <span class="label label-light">
                      <i class="fa fa-clock-o"></i>
                      <span v-text="slot.start"></span>
                      -
                      <span v-text="slot.end"></span>
                    </span>
                  </h4>
                </div>
                <div class="col-md-10 col-sm-12">
                  <h4 v-for="event in slot.events" style="display:inline-block">
                    <span class="label label-default label-newco">
                      <span v-if="en" v-text="event.en"></span>
                      <span v-else v-text="event.zh"></span>
                    </span>
                  </h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section fp-auto-height" data-anchor="partners">
      <div class="container">
        <h3 class="section-title">
          <span v-if="en">GLOBAL PARTNERS</span>
          <span v-else>国际合作伙伴</span>
        </h3>
        <ul class="list-inline">
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/global/adobe.jpg" class="img-partner silver">
          </li>
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/global/perkins-coie.jpg" class="img-partner silver">
          </li>
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/global/publicis-sapient.png" class="img-partner silver">
          </li>
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/global/twitter.png" class="img-partner silver">
          </li>
        </ul>
        <h3 class="section-title">
          <span v-if="en">LOCAL PARTNERS</span>
          <span v-else>本地合作伙伴</span>
        </h3>
        <ul class="list-inline">
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/local/google.png" class="img-partner silver">
          </li>
          <li>
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/local/wework.png" class="img-partner silver">
          </li>
        </ul>
        <div class="well well-newco">
          <span v-if="en">
            By sponsoring NewCo you will be able to connect with mission-driven host companies and highly engaged attendees. Contact us:
          </span>
          <span v-else>
            通过赞助NewCo，您将接触到雄心勃勃的优秀企业以及一群高度活跃的用户。联系我们，获取详情：
          </span>
          <a href="mailto:cateam@chinaccelerator.com">cateam@chinaccelerator.com</a>
        </div>
      </div>
    </section>
    <section class="section fp-auto-height" data-anchor="ca">
      <div class="container">
        <h3 class="section-title">
          <span v-if="en">ABOUT CHINACCELERATOR</span>
          <span v-else>关于中国加速</span>
        </h3>
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/chinaccelerator-logo.png" style="height:72px;display:inline-block;float:right;margin:0 0.5em;">
        <p v-if="en">
          <a href="http://chinaccelerator.com" target="_blank">Chinaccelerator</a>, the first startup accelerator in China and Asia, is a mentorship-driven program helping internet startups from around the world cross borders - from the world into China and from China to the world. It is backed by the venture fund SOSV with $250M AUM operating five accelerator programs around the world.
          <br><br>
          This September, NewCo and Chinaccelerator are coming together to connect the world’s top start-ups, high-growth companies, investors, influencers and entrepreneurs through NewCo Shanghai and Chinaccelerator 8x8, an event where 8 of the tech industries biggest movers and shakers give 8 minute talks about how they have succeeded in building tech companies.
        </p>
        <p v-else>
          <a href="http://chinaccelerator.com">中国加速</a>是亚洲第一个以导师为驱动的软件创业加速器，是管理着2.5亿美元的早期创投SOSV基金投资成立的全球加速器之一。它覆盖全球，每年经营两届创业项目，帮助来自全球的初创公司进入中国市场，也帮助中国公司进入国际市场。中国加速主要关注电子商务、金融科技、数据营销以及教育等生活方式类创业项目。它拥有国际化的背景，集合了来自全球的顶级导师、合作伙伴以及投资人，为创业者提供更广泛的视角和更丰富的资源。
        </p>
        <ul class="list-inline text-center">
          <li>
            <a href="https://www.facebook.com/China.Axlr8r/" class="link-newco">
              <i class="fa fa-2x fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Chinaccelerator" class="link-newco">
              <i class="fa fa-2x fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/chinaccelerator" class="link-newco">
              <i class="fa fa-2x fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="http://weibo.com/chinaccelerator" class="link-newco">
              <i class="fa fa-2x fa-weibo"></i>
            </a>
          </li>
          <li>
            <a role="button" data-toggle="modal" data-target="#wechat-modal" class="link-newco">
              <i class="fa fa-2x fa-weixin"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer class="section fp-auto-height" data-anchor="newco">
      <div class="container text-center" style="padding:2em 0;font-size:0.8em;">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/newco-logo-shift.png" class="center-block" style="height:48px;margin-bottom:8px;">
            <ul class="list-inline">
              <li>
                <a href="https://shift.newco.co/" class="link-newco">Shift on Medium</a>
              </li>
              <li>
                <a href="http://dialogs.newco.co/" class="link-newco">Dialogs</a>
              </li>
              <li>
                <a href="http://newco.co/newsletters/" class="link-newco">Newsletters</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="text-center">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="img/newco-logo.svg" style="height:36px;">
              <span style="font-size:32px;vertical-align:text-top;">Cities</span>
            </div>
            <ul class="list-inline">
              <li v-for="link in links">
                <a v-bind:href="link.href" v-text="link.name" class="link-newco"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- scripts -->
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.fullPage.min.js"></script>
  <script src="js/scrolloverflow.min.js"></script>
  <script src="js/egg.min.js"></script>
  <script src="js/vue.min.js"></script>
  <!-- page script -->
  <script src="js/newco.js"></script>
</body>
</html>
