body {
  font-family: 'Lato', sans-serif !important;
  color: #fff;
  font-size: 16px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.link-newco {
  color: #C2AC78;
  margin: 0.1em;
  padding: 0.1em;
  text-decoration: underline;
}
.link-newco:focus,
.link-newco:hover {
  color: #FFF9C5;
}
.text-newco {
  color: #C2AC78 !important;
}
/* default section toggling background color */
.section .container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section {
  background-color: #1A1918;
}
.section:first-child {
  background-color: #334A75;
}
.section[data-anchor=home] {
  background:
    linear-gradient(rgba(51, 74, 117, 1), rgba(26, 25, 24, 0.6)),
    url('img/header-banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section[data-anchor=tickets] {
  background:
    linear-gradient(rgba(26, 25, 24, 0.6), rgba(26, 25, 24, 0.6)),
    url('img/section-participate-banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section[data-anchor=ca] {
  background:
    linear-gradient(rgba(26, 25, 24, 0.9), rgba(26, 25, 24, 0.9)),
    url('img/chinaccelerator-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.section[data-anchor=sponsors] {
  background:
    linear-gradient(rgba(26, 25, 24, 0.9), rgba(26, 25, 24, 0.9)),
    url('img/section-sponsors-banner.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal-newco .modal-content {
  background-color: rgba(0, 0, 0, 0.6);
}
.list-group-item.item-newco {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-newco {
  background-color: #334A75;
  border-width: 0;
}
.navbar-newco.inverse {
  background-color: #1A1918;
}
.navbar-newco .navbar-nav>li>a {
  color: #fff;
}
.navbar-newco .navbar-nav>li>a:focus,
.navbar-newco .navbar-nav>li>a:hover,
.navbar-newco .navbar-nav>.active>a,
.navbar-newco .navbar-nav>.active>a:focus,
.navbar-newco .navbar-nav>.active>a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  max-height: 100%;
}
.navbar-newco .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  color: #fff;
  background-color: #334A75;
  border-width: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.navbar-newco.inverse .dropdown:hover .dropdown-menu {
  background-color: #1A1918;
}
.dropdown:hover .dropdown-menu a {
  color: #fff;
}
.dropdown:hover .dropdown-menu a:focus,
.dropdown:hover .dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-newco {
  border-width: 0;
  border-radius: 0;
  background-color: #1A1918;
  color: #C2AC78;
}
.btn-newco:hover,
.btn-newco:focus {
  background-color: #C2AC78;
  color: #1A1918;
}
.well-newco {
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 0;
}
.well-newco small,
.well-newco .small {
  color: #fff;
  font-size: 48%;
}
.well-newco h1,
.well-newco h2,
.well-newco h3,
.well-newco h4,
.well-newco h5,
.well-newco h6 {
  margin-top: 0;
}
.well-newco ul.list-inline>li {
  padding: 0 1em;
}
/* responsiveness */
@media (max-width: 480px) {
  .header-logo {
    width: 50%;
  }
  .img-sponsor {
    height: 24px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header-logo {
    width: 40%;
  }
  .img-sponsor {
    height: 28px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .header-logo {
    width: 30%;
  }
  .img-sponsor {
    height: 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header-logo {
    width: 25%;
  }
  .img-sponsor {
    height: 38px;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    width: 20%;
  }
  .img-sponsor {
    height: 42px;
  }
}
